[Unit]
Description=Check due dense Google Maps date observations every 5 to 6 minutes

[Timer]
OnBootSec=15min
OnUnitInactiveSec=5min
RandomizedDelaySec=1min
AccuracySec=1s
Persistent=true
Unit=maps-monitor-dense.service

[Install]
WantedBy=timers.target
